@{
    ViewData["Title"] = "Privacy Policy";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    #aboutusbody {
    background-image: url(../../wwwroot/img/aboutusbg.jpg);
     }
    
    #mv {
    padding-top: 20px;
    }
    .carousel-inner img {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    }
    
       .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

      i {
          position:center;
          text-align:center;
          display:block;
      }
.bg { background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&amp;ext=jpg'); background-size: cover; }

    </style>
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/Carousel 1.1.png" alt="Los Angeles" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="~/img/Carousel 2.1.png" alt="Chicago" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="~/img/Carousel 3.png" alt="New York" width="1100" height="500">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<div class="jumbotron-fluid" style="background-color:azure">
    <div class="row">
        <div class="col col-6">
            <img src="~/img/5.jpg" style="position: center; width: 100%;" />
        </div>
        <div class="col col-6" style="text-align: center; padding-top: 150px; padding-left: 100px; padding-right: 100px;">
            <h1 style="color: darkblue">Vision</h1>
            <br />
            <h5 style="color: darkblue">
                To always provide an unparalleled experience as the most trusted partner
                for health care to every Filipino, every life - whole and healthy.
                We work to be trusted by patients, valued partners in the community, and creators of positive change.
            </h5>
        </div>
    </div>
</div>
<div class="jumbotron-fluid" style=" background-color: azure;" id="mv">
    <div class="row">
        <div class="col col-6" style="text-align: center;  padding-top: 150px; padding-left: 100px; padding-right: 100px;">
            <h1 style="color: darkblue">Mission</h1>
            <br />
            <h5 style="color: darkblue">
                Providing patient-centered healthcare that is exceptional
                in terms of quality, service, and accessibility.
            </h5>
        </div>
        <div class="col col-6">
            <img src="~/img/7.jpg" style="position: center; width: 100%;" />
        </div>
    </div>
</div>


<br />
<br />
<br />
<div class="container">
<h2 style="text-align:center; font-size:40px;">Our Team</h2><br />
<p style="text-align:center;">We're a sincere organization with a straightforward vision. We believe that there is an amazing amount to be learned by working in a "real world".
    We've had an amazing journey! We are now feel confident that we can provide a professional and effective system in a timely manner.</p>
<br />
</div>
<section class="bg-light page-section" id="portfolio">
    <div class="container bg">
        <div class="row">
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                    <img class="img-fluid" src="~/img/gboy.png" alt=""><br /><br />
                    <h2 style=" text-align:center;">Gaevrian Luansing</h2>
                    <p style=" text-align:center;">Lead Developer</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                    <img class="img-fluid" src="~/img/Kissle.png" alt=""><br /><br />
                    <h2 style=" text-align:center;">Kisselline Marcelo</h2>
                    <p style=" text-align:center;">Designer</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                    <img class="img-fluid" src="~/img/wani.png" alt=""><br /><br />
                    <h2 style=" text-align:center;">Diwana Nagales</h2>
                    <p style=" text-align:center;">Designer</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 portfolio-item">
                <div class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                    <img class="img-fluid" src="~/img/Ged.png" alt=""><br /><br />
                    <h2 style=" text-align:center;">Nicolas Gerard</h2>
                    <p style=" text-align:center;">Assistant Developer</p>
                </div>
            </div>
        </div>
    </div>
</section>
