@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('../img/3.jpg');
    }

    .jumbotron {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background: none;
        background-position: center;
        padding-top: 230px;
    }

    .button {
        background-color: #0366d6;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
    }

    .button4 {
        border-radius: 12px;
    }
</style>

<div class="jumbotron jumbotron-fluid" id="home">
    <h1>Welcome To VirtualDoc!</h1>
    <p class="lead">How Can We Help?</p>
    <p class="lead">
        <a class=" btn button button4" href="#" role="button">Consult Now!</a>
    </p>
</div>


