@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('../img/10.jpg');
        background-size: cover;
    }

    .jumbotron {
        margin-top: 80px;
        margin-block: 80px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background: none;
        background-position: center;
        padding-top: 230px;
    }

    .button {
        background-color: #DBBF70;
        border: none;
        color: white;
        padding-top: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 1px 1px;
    }

    .button4 {
        border-radius: 8px;
    }

</style>

<div class="jumbotron jumbotron-fluid" id="home">
    <h1 style="color:white">Welcome To Virtual Doc!</h1>
    <h4 style="color:white">How Can We Help?</h4>
    <p class="lead">
        <a class=" btn button button4" asp-controller="Doctorform" asp-action="DoctorsList" role="button">Consult Now!</a>
    </p>
</div>


